<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form">

      <input type="text" class="form-control" formControlName="username">
      <div *ngIf="username.invalid && username.touched" class="alert alert-danger">
        <div *ngIf="username.errors['required']">Username required</div>
        <div *ngIf="username.errors.cannotContainSpace">Username cannot Contain Space</div>
        <div *ngIf="username.errors['shouldUnique']">Username should be Unique</div>
        <div *ngIf="username.errors.minlength">Username should be minimum {{ username.errors.minlength.requiredLength }} characters</div>
      </div>
      <br>
      <input type="password" class="form-control">
      <br>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
